<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githack.com/lcandy2/container-ui/main/update-feed/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ERqmcx7u1eb3HqeCf9M3SGPEFJthJtTHb4O/H+r4Jp0=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
